*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

:root{
  --white: #ebebeb;
}

#root{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body{
  background-color: var(--white);
  display: flex;
  justify-content: center;
}



.capitalize{
  text-transform: uppercase;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-form{
  background-color: var(--white);
  width: 90%;
}

.form{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  margin: 20px;
}

.input{
  border: none;
  padding: 10px;
  width: 100%;
}

.search{
  border: none;
  padding: 10px;
  background: none;
}

.weather{
  flex-direction: column;
  width: 100%;
  color: #fff;
  border-radius: 20px;
}

.weather-details{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 80%;
  height: 100%;
  max-width: 540px;
  margin-top: 10px;
  padding: 20px;
  border-radius: 20px;
}

.details-cards:nth-child(2){
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.city-container{
  width: 90%;
  max-width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.location-container{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.location-container img{
  width:25px;
  margin-right: 10px;
}

.icon-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon-container p{
  margin-top: 7px;
  font-size: 25px;
  text-transform: capitalize;
  text-align: center;
}

.weather-icon{
  width: 100px;
  height: 100px;
  margin-top: 20px;
}

.nombre{
  width: 80%;
  max-width: 720px;
  font-size: 30px;
}

.nombre span{
  font-weight: bold;
}

.fecha{
  width: 80%;
  max-width: 720px;
  text-transform: capitalize;
}

.temp-container{
  width: 80%;
  max-width: 720px;
  justify-content: space-evenly;
}

.temp{
  font-size: 100px;
  font-weight: bold;
}

.container-weather{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(116,196,255);
  background: radial-gradient(circle, rgb(75, 180, 255) 0%, rgba(28,126,238,1) 100%);
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.error-container{
  background: #fff;
  padding: 50px 10px;
}

.error-container img{
  width: 150px;
  height: 150px;
}

.week-container{
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0 15px 0 ;
  margin-top: 15px;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 20px;
}

.days-container{
  display: flex;
  width: 80px;
  height: 100px;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

.days-icon{
  width: 30px;
  margin: 10px 0 10px 0;
}

.cards-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 90%;
  max-width: 1500px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.sin-resultados{
  flex-direction: column;
}

.sin-resultados h3{
  font-size: 25px;
  font-weight: 600;
  color: #333;
  text-align: center;
}

.week-days{
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100px
}

.week-days p{
  text-align: center;
  color: #333;
  font-size: 14px;
}

.temp-week{
  text-align: center;
  width: 60px;
  color: rgba(28,126,238,1);
  font-size: 14px;
  font-weight: normal;
}

.temp-week span{
  font-size: 20px;
  font-weight: bolder;
  color: rgba(28,126,238,1);
}

.week-title{
  color: #444;
  margin: 15px;
  display: none;
}

.details-cards{
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  width: 100%;
}

.details-icon{
  width: 40px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.details-data{
  font-size: 22px;
  font-weight: bold;
  color:#fff;
}

.details-text{
  margin-top: 10px;
  font-size: 17px;
  color:#fff;
  font-weight: 300;
}

.loading{
  height: 300px;
  display: flex;
  align-items: center;
}

.error{
  color: rgb(230, 102, 102);
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid rgba(28,126,238,1);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 


@media (max-width : 860px){
  .week-container{
    flex-direction: column;
  }

  .week-title{
    display:block
  }

  .days-container{
    flex-direction:row;
    width: 80%;
    height: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    border-radius: 0;
  }

  .week-days{
    text-transform: capitalize;
  }
  
  .temp{
    font-size: 80px;
  }
  
  .weather-icon{
    width: 80px;
    height: 80px;
  }
}


@media (max-width : 480px){
  .temp{
    font-size: 60px;
  }

  .weather-icon{
    width:60px;
    height: 60px;
  }

  .location-container img{
    width:20px;
    margin-right: 5px;
  }

  .nombre{
    font-size: 20px;
  }

  .fecha{
    font-size: 15px;
    margin-top:5px
  }

  .temp-container{
    margin-top: 20px;
  }

  .weather-details{
    margin-top: 5px;
    width:100%
  }

  .details-icon{
    width: 30px;
  }

  .details-data{
    font-size: 17px;
  }

  .details-text{
    font-size: 14px;
  }

  .icon-container p{
    font-size: 17px;
  }
}